argcomplete==1.12.3; python_version >= "3.6"
astor==0.8.1; python_full_version >= "3.6.1"
atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" and sys_platform == "win32" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7") or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0" and sys_platform == "win32" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7")
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "4.0"
bandit==1.7.4; python_version >= "3.7"
black==22.3.0; python_full_version >= "3.6.2"
bump2version==1.0.1; python_version >= "3.5"
certifi==2021.10.8; python_full_version >= "3.7.0" and python_version >= "3.7"
cfgv==3.3.1; python_full_version >= "3.6.1" and python_version >= "3.7"
charset-normalizer==2.0.12; python_full_version >= "3.7.0" and python_version >= "3.7"
click==8.1.3; python_version >= "3.7" and python_full_version >= "3.6.2"
colorama==0.4.4; sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.6.2" and platform_system == "Windows" and (python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0") and (python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0") and (python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7") or sys_platform == "win32" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7") and python_full_version >= "3.5.0")
colorlog==6.6.0; python_version >= "3.6"
coverage==6.3.2; python_version >= "3.7"
distlib==0.3.4; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
eradicate==2.1.0; python_version >= "3.6" and python_version < "4.0"
execnet==1.9.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
faker==13.7.0; python_version >= "3.6"
filelock==3.6.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
flake8-absolute-import==1.0.0.1; python_version >= "3.4"
flake8-annotations==2.9.0; python_version >= "3.7" and python_version < "4.0"
flake8-bandit==3.0.0; python_version >= "3.6"
flake8-bugbear==22.4.25; python_version >= "3.6"
flake8-comprehensions==3.8.0; python_version >= "3.7"
flake8-debugger==4.1.2; python_version >= "3.7"
flake8-eradicate==1.2.1; python_version >= "3.6" and python_version < "4.0"
flake8-no-pep420==2.2.0; python_version >= "3.7"
flake8-pie==0.15.0; python_version >= "3.7"
flake8-polyfill==1.0.2; python_version >= "3.6"
flake8-print==5.0.0; python_version >= "3.7"
flake8-simplify==0.19.2; python_full_version >= "3.6.1"
flake8-unused-arguments==0.0.10
flake8==4.0.1; python_version >= "3.6"
gitdb==4.0.9; python_version >= "3.7"
gitpython==3.1.27; python_version >= "3.7"
hypothesis==6.46.2; python_version >= "3.7"
identify==2.5.0; python_version >= "3.7"
idna==3.3; python_full_version >= "3.7.0" and python_version >= "3.7"
importlib-metadata==4.2.0; python_version == "3.7" and python_full_version >= "3.6.2" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "3.8") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7")
iniconfig==1.1.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
mccabe==0.6.1; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
more-itertools==8.13.0; python_version >= "3.5"
mypy-extensions==0.4.3; python_full_version >= "3.6.2"
nodeenv==1.6.0; python_version >= "3.7"
nox==2022.1.7; python_version >= "3.6"
packaging==21.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pathspec==0.9.0; python_full_version >= "3.6.2"
pbr==5.9.0; python_version >= "3.7"
platformdirs==2.5.2; python_version >= "3.7" and python_full_version >= "3.6.2" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7")
pluggy==1.0.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
poetry-deps-scanner==1.0.1; python_version >= "3.7"
pre-commit==2.19.0; python_version >= "3.7"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pyclean==2.2.0
pycodestyle==2.8.0; python_full_version >= "3.6.1" and python_version >= "3.7" and python_version < "4.0"
pyflakes==2.4.0; python_full_version >= "3.6.1" and python_version >= "3.7" and python_version < "4.0"
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.7"
pytest-cov==3.0.0; python_version >= "3.6"
pytest-forked==1.4.0; python_version >= "3.6"
pytest-instafail==0.4.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pytest-xdist==2.5.0; python_version >= "3.6"
pytest==7.1.2; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
python-gitlab==3.4.0; python_full_version >= "3.7.0" and python_version >= "3.7"
pyyaml==6.0; python_version >= "3.7"
requests-toolbelt==0.9.1; python_full_version >= "3.7.0" and python_version >= "3.7"
requests==2.27.1; python_full_version >= "3.7.0" and python_version >= "3.7"
semver==3.0.0.dev3; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
smmap==5.0.0; python_version >= "3.7"
sortedcontainers==2.4.0; python_version >= "3.7"
stevedore==3.5.0; python_version >= "3.7"
strenum==0.4.7
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_version < "3.11" and python_full_version >= "3.6.2" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7")
typed-ast==1.5.3; python_version < "3.8" and implementation_name == "cpython" and python_full_version >= "3.6.2" and python_version >= "3.7"
typing-extensions==4.2.0; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.6.2"
urllib3==1.26.9; python_full_version >= "3.7.0" and python_version < "4" and python_version >= "3.7"
virtualenv==20.14.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
writer-cm==1.1.1; python_version >= "3.7" and python_version < "4.0"
xdg==5.1.1; python_version >= "3.6" and python_version < "4.0"
zipp==3.8.0; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.6.2"
